<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>recaptcha</name>
            <displayName><![CDATA[M&oacute;dulo ReCaptcha]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[M&oacute;dulo para a&ntilde;adir ReCaptcha a los formularios.]]></description>
            <author><![CDATA[Jos&eacute; Manuel Bermudo Ancio]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>¿Seguro que desea desinstalar este módulo?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>